@model ComicSys.Models.ComicBook

<h2>Comic Book Details</h2>

<dl>
    <dt>Title</dt>
    <dd>@Model.Title</dd>
    <dt>Author</dt>
    <dd>@Model.Author</dd>
    <dt>Price Per Day</dt>
    <dd>@Model.PricePerDay</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.ComicBookID">Edit</a> |
<a asp-action="Index">Back to List</a>
